---
import AppLayout from "@/layout/AppLayout.astro";
const pageTitle: string = "Create a new account";
const pageMeta: {} = [
    {
        name: "description",
        content: "This is the registration page of my awesome website.",
    },
    { name: "keywords", content: "astro, tailwind, login, awesome website" },
    { name: "author", content: "Your Name" },
];
---

<AppLayout title={pageTitle} meta={pageMeta}>
    <div class="h-screen flex justify-center items-center">
        <h1>This is register page</h1>
    </div>
</AppLayout>
