---
import AppLayout from "@/layout/AppLayout.astro";
const pageTitle: string = "Home Page";
const pageMeta: {} = [
	{
		name: "description",
		content: "This is the home page of my awesome website.",
	},
	{ name: "keywords", content: "astro, tailwind, home, awesome website" },
	{ name: "author", content: "Your Name" },
];
---

<AppLayout title={pageTitle} meta={pageMeta}>
	<h1>
		This is Home page
	</h1>
</AppLayout>

